name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Zip Scribe Component
        run: |
          cd custom_components
          zip -r scribe.zip scribe

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: custom_components/scribe.zip
          generate_release_notes: true

